body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: white;

}

footer {
    border-top: 1px groove;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
}
.navbar-default .navbar-brand{
    color: black;
}


.navbar-default{

    color: black;
    border-bottom-color: #BDBDBD;
}

.navbar-default .navbar-nav > li > a{
    color: black;
}


@media (min-width: 768px){
    .navbar-nav {
    float: right;
    }

}


.btn-login{
    width: 100px;
    background-color: #66BB6A;
    border-radius: 80px;
    margin-top: 0.8em;
    text-align: center;
}


.btn-kunde{
    width: 140px;
    background-color: #4FC3F7;
    border-radius: 80px;
    margin-top: 0.8em;
    margin-right: 10px;
    text-align: center;
}

.btn-kunde:hover{
    background-color: #039BE5 !important;
}

.btn-login:hover{
    background-color: #43A047 !important;
}
