@model IEnumerable<BankingStuff.Models.Account>





<div class="form-group">
    <lable class="control-label col-md-2"><b>@Model.FirstOrDefault().getAccount(Model.FirstOrDefault().customerID)</b></lable>
    <select name="receiverAccountID" class="form-control col-md-10">
        @foreach (var item in Model)
        {
            <option value="@item.accountID">@item.accountName</option>
        }

    </select>
</div>



